$backgroundColor: #000829;
$backgroundHeader: #edefff;
$primaryFontColor: #212121;
$secondaryFontColor: #959595;
$borderRadiusBtn: 37px;
$borderRadiusBlock: 20px;
$placeholder: #868686;

$white: #fff;
$blue: #384ac2;
$gray: #d3d3d3;
$green: #37b62c;
$red: #c73232;
