@import '../../styles/variables';
@import '../../styles/mixins';

.connect {
  background-image: url('/images/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}