@import '../../styles/variables';
@import '../../styles/mixins';

.app-main {
  color: $white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 35px 0px 25px;
  width: 100%;
}